body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    z-index: 10;
}
.top-left, .top-right {
    display: flex;
    gap: 10px;
}
.top-right {
    margin-right: 35px;
}
.logo {
    position: absolute;
    top: 100%;
    left:80%;
    transform: translateX(-50%);   
}

.logo img {
    width: 100%; /* 让图片填充 .logo 容器 */
    height: auto; /* 保持图片的宽高比 */
}
.slideshow-container {
    width: 100%;
    height: 100vh;
    position: relative;
}
.slide {
    display: none;
    width: 100%;
    height: 100vh;
    position: absolute;
}
.slide img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.menu-panel {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    color: white;
    transition: top 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.menu-panel.show {
    top: 0;
}
.menu-section {
    transition: transform 0.3s ease-in-out;
    padding: 15px;
    cursor: pointer;
    font-size: 1.5rem;
}
.menu-section:hover {
    transform: scale(1.1);
}