html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: black; /* 确保背景是黑色 */
    overflow-x: hidden; /* 防止横向滚动 */
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    z-index: 10;
}
.top-left, .top-right {
    display: flex;
    gap: 10px;
    
}

.top-left button {
    background-color: #5a211f;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.top-left button:hover {
    background-color: #9b1d19;
}
.top-right {
    margin-right: 35px;
    
}

.top-right button {
    background-color: #5a211f;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.top-right button:hover {
    background-color: #9b1d19;
}


.logo {
    position: absolute;
    top: 100%;
    left:80%;
    transform: translateX(-50%);   
}

.logo img {
    width: 100%; /* 让图片填充 .logo 容器 */
    height: auto; /* 保持图片的宽高比 */
}

.slideshow-container {
    position: relative;
    max-width: 100%;
    height: 500px; /* 根据需要调整高度 */
    margin: auto;
    overflow: hidden;
    background-color: black; /* 背景设为黑色 */
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
    background-color: black; /* 确保每张幻灯片的背景也是黑色 */
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fade {
    animation: fadeEffect 1.5s ease-in-out forwards;
}

/* 渐显动画，从黑色背景出现 */
@keyframes fadeEffect {
    from {
        opacity: 0;
        filter: brightness(0); /* 初始黑色 */
    }
    to {
        opacity: 1;
        filter: brightness(1); /* 渐显至正常亮度 */
    }
}
.slide {
    display: none;
    width: 100%;
    height: 100vh;
    position: absolute;
}
.slide img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:aliceblue;
    background: rgb(46, 46, 46);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.menu-panel {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    color: white;
    transition: top 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.menu-panel.show {
    top: 0;
}
.menu-section {
    transition: transform 0.3s ease-in-out;
    padding: 15px;
    cursor: pointer;
    font-size: 1.5rem;
    text-align: center;
}
.menu-section:hover {
    transform: scale(1.1);
}